.footer-1 {
  width: 100%;
  height: fit-content;
  background-color: #2b2b39;
  margin-top: 3rem;
  color: #e7e7e7;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 3fr;
  box-sizing: border-box;
  height: fit-content;
  text-transform: capitalize;
  padding: 3% 5%;
}

.footer-2 {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: #20202d;
}

.footer-2 .brending-line {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 90%;
  color: #f6f6f6;
  background-color: #20202d;
}

.footer-2 h4 {
  font-weight: 200;
}

.footer-2 .icons img {
  margin: auto 0.5rem;
  cursor: pointer;
  transition: 300ms;
}

.footer-2 .icons img:hover {
  transform: rotate(20deg) scale(1.5);
  box-shadow: 0px 0px 10px 1px #f1a62e7b;
  border-radius: 50%;
}

.footer-1 .main {
  font-size: 1.25rem;
  font-weight: 700;
}

.footer-1 .subscribtion h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  width: fit-content;
}

.footer-1 .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
}

.footer-1 .subscribtion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
}

.footer-1 .subscribtion p {
  margin-bottom: 2rem;
  width: fit-content;
}

.footer-1 .subscription-button-div {
  border: white solid 1px;
  width: fit-content;
  height: fit-content;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-1 .subscribtion input {
  background-color: rgba(255, 0, 0, 0);
  width: 30%;
  height: 2rem;
  border: none;
  padding-left: 1rem;
  outline: none;
}

.footer-1 .subscribtion button {
  background-color: #e7e7e7;
  border-radius: 0.75rem;
  color: #2b2b39;
  height: 3rem;
  width: 7.9rem;
  padding: auto;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  font-weight: 700;
  border: none;
}

.footer-1 .links a {
  color: #e7e7e7;
  font-size: 0.8rem;
  transition: 300ms;
  text-decoration: none;
  width: fit-content;
  border-radius: 50%;
}

.footer-1 .links a:hover {
  transform: translateY(-20%) rotate(10deg) scale(1.5);
  font-weight: 900;
  color: #f1a62e;
  position: relative;
  box-shadow: 0px 0px 10px 1px #f1a62e2f;
  background-color: #f1a62e1f;
}

@media only screen and (max-width: 600px) {
  .Look-8 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 0rem;
  }

  .footer-1 {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
  }

  .footer-1 .subscribtion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
  }

  .footer-1 .main {
    background-color: #141417;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
  }

  .footer-1 .child {
    text-align: center;
  }

  .footer-2 {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: #20202d;
  }

  .footer-2 .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
